*{
    font-family: Fonte;
    box-sizing: border-box;
}

#conteudo{
    margin: .8rem;
}

#lista-de-pokemons{
    display: flex;
    justify-content: center;
}

#pokemons{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon{
    color: white;
    list-style: none;
    margin: .8rem;
    padding: 1rem;
    border-radius: 12px;
    min-width: 167px;
    max-width: 385px;
}

.nomeEnumero{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.habilidades{
    list-style: none;
    padding: 0;
    margin: 10px 0px 0px 0px;

}

.habilidades li{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.301);
    padding: 8px;
    border-radius: 30px;
    display: inline-block;
}

.AtaqueEImg{
    display: flex;
}

.img-pokemon{
    max-width: 100%;
    width: 50%;
    margin-left: 5%;
}


.paginacao{
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#loadMore{
    background-color: #004cff;
    padding: 10px 25px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
}


.normal{
    background-color: #a6a877;
}
.grass{
    background-color: #77c850;
}
.fire{
    background-color: #ee7f30;
}
.water{
    background-color: #678fee;
}
.electric{
    background-color: #f7cf2e;
}
.ice{
    background-color: #98d5d7;
}
.ground{
    background-color: #dfbf69;
}
.flying{
    background-color: #a98ff0;
}
.poison{
    background-color: #a040a0;
}
.fighting{
    background-color: #bf3029;
}
.psychic{
    background-color: #f65687;
}
.dark{
    background-color: #725847;
}
.rock{
    background-color: #b8a137;
}
.bug{
    background-color: #a8b720;
}
.ghost{
    background-color: #6a5896;
}
.steel{
    background-color: #b9b7cf;
}
.dragon{
    background-color: #6f38f6;
}
.fairy{
    background-color: #f9aec7;
}